.ios, .md {
 
    login-page {
 
        ion-content {
            background-image: url("../assets/view.jpeg");
            background-size:cover;
        }
 
        scroll-content {
            display: flex;
            flex-direction: column;
        }
 
        ion-row {
            align-items: center;
            text-align: center;
        }
 
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            opacity: 0.7;
            font-size: 0.9em;
        }
 
        ion-list {
            margin: 0;
        }
        
        ion-card {
            background-color : rgba(0, 0, 0, 0.4);
            position: relative;
            top: 55%;
            -webkit-transform: translateY(-55%);
            -ms-transform: translateY(-55%);
            transform: translateY(-55%);
        }

        .login-logo {
            flex: 2;
        }
 
        .login-form {
            flex: 1;
            width:80%;
            height:150px;
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
        }

        .login-btn {
            width:50%;
            margin: 0 auto;
            
        }
 
        .create-account {
            color: white;
            text-decoration: underline;
            border-radius: 30px;
            font-size:1em;
            width:40%;
            margin-top: 8%;
            margin-left : 55%;
            margin-right: 5%;
        }
 
        .login-button {
            border-radius: 30px;
            font-size: 0.9em;
            width: 45%;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.6);
            border: 1px solid gray;
        }
        
        .logo {
            margin : 20% 25% 15% 25%;
            width: 50%;
            height: 28%;

        }

        .alert-txt{
            color: red;
            width:100%;
            text-align: center;
        }
        // .logo{
        //     width:100%;
        //     height: auto;
        // }

    }
 
}